<IfModule mod_headers.c>
Header set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options "nosniff"
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header set Referrer-Policy "same-origin"
</IfModule>

# Statische Weiterleitungen
#  - /ausschilderung fuer QR-Code auf Situationsplan
Redirect 301 /ausschilderung /
